.background {
  viewport-fill: black;
}

#myHour {
  font-size: 100;
  font-family: System-Light;
  text-length: 80;
  text-anchor: start;
  x: 12;
  y: 115;
  fill: #f8fcf8;
}

#myBattery {
  font-size: 18;
  font-family: System-Light;
  text-length: 80;
  text-anchor: end;
  x: 208;
  y: 25;
  fill: #f8fcf8;
  opacity: 0
}


#myMinute {
  font-size: 100;
  font-family: System-Light;
  text-length: 80;
  text-anchor: start;
  x: 12;
  y: 195;
  fill: #cc0000;
}

#mySecond {
  font-size: 35;
  font-family: System-Light;
  text-length: 80;
  text-anchor: start;
  x: 125;
  y: 150;
  fill: #cc0000;
}


#myDate {
  font-size: 25;
  font-family: System-Light;
  text-length: 40;
  text-anchor: start;
  x: 12;
  y: 235;
  fill: #808080;
}

#myDay {
  font-size: 25;
  font-family: System-Light;
  text-length: 40;
  text-anchor: start;
  x: 12;
  y: 25;
  fill: #808080;
}


#mySteps {
  font-size: 25;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: end;
  x: 85;
  y: 35;
  fill: #f8fcf8;
}

#myStairs {
  font-size: 25;
  font-family: System-Regular;
  text-length: 30;
  text-anchor: end;
  x: 85;
  y: 35;
  fill: #f8fcf8;
}


#myCals {
  font-size: 25;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: end;
  x: 85;
  y: 35;
  fill: #f8fcf8;
}

#myMins {
  font-size: 25;
  font-family: System-Regular;
  text-length: 30;
  text-anchor: end;
  x: 85;
  y: 35;
  fill: #f8fcf8;
}

#myDist {
  font-size: 25;
  font-family: System-Regular;
  text-length: 30;
  text-anchor: end;
  x: 85;
  y: 35;
  fill: #f8fcf8;
}


#myHR {
  font-size: 28;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: end;
  x: 50;
  y: 23;
  fill: #f8fcf8;
}

#myRestHR {
  font-size: 22;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: end;
  x: 50;
  y: 50;
  fill: #c0c0c0;
}